body{
	background-color: #080808;
}
.color{
	color: white;
}
.hello{
	background-color: #3fb130;
	width: 600px;
	height: 400px;
	float: right;
	margin-right: 100px;
}
.hello label{
	color: #Abf778;
}
.hello legend{
	color: white;
}
.controls-buttoms{
	width: 200px;
	float: right;
	margin-right: 40%;
}